<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>
<p><%= link_to 'Add review', new_restaurant_review_path(@restaurant) %></p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
